# Ignore the following directories altogether
outputs/*

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Notebooks checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv

# System files
.DS_Store

